<%
  links = [
    { name: "Главная", path: root_path },
    { name: "Сообщения", path: conversations_path },
    { name: "Профиль", path: my_profile_path },
  ]
%>

<div class="items-center justify-center p-4 max-w-2xl ">

  <ul class="flex xl:flex-col xl:gap-0 sm:flex-row">
      <% links.each do |link| %>
      <li class="mb-2">
        <%= link_to link[:name], link[:path], class: nav_link_class(link[:path]) %>
      </li>
     <% end %>
  </ul>
</div>

